{% extends "base.html" %}

    <title>
        Rent's Due
    </title>

{% block body %}
	<div class="grid-x">
		<div class="cell large-8 large-offset-4" style="font-size:48px">
			<p>COVID-19 is wreaking havoc on the service industry in King County. </p>

			<p>Both the healthy and sick are facing an immediate financial crisis.</p>
			
			<b><i><p>Rent’s due on the 1st.</p></b></i>
		</div>
		<br>
	</div>
	<div class='grid-x' style='font-size:20px'>
		<div class='cell large-2'>
			<b><p>What’s happening:</p></b>
		</div>
		<div class='cell large-6 large-offset-4'>
			<p>Today Governor Jay Inslee took the unprecedented but necessary step to close all restaurants and bars in King County, bringing the income of workers in those industries to zero. Even before the official ban, many restaurants were forced to cut shifts, layoff staff, and close indefinitely. Workers everywhere are now staring down dwindling bank accounts and looming bills. The health of our communities should remain our number one priority. However, this urgent health crisis should not stop us from facing the urgent financial crisis it is already causing.</p>
		</div>
		<br>
		<div class='cell large-2'>
			<b><p>Our positions:</p></b>
		</div>
		<div class='cell large-6 large-offset-4'>
			<h2>Unemployment insurance is not enough.</h2>
			<p>By swift government mandate, tens of thousands of people no longer have any income and will be unable to find work in their industry indefinitely. Asking them to navigate a soon to be overwhelmed unemployment insurance system (most for the first time) and wait over a month for financial relief does not meet the gravity of this situation. This is unprecedented, and many need emergency financial support.</p>
		</div>
		<div class='cell large-6 large-offset-6'>
			<h2>Employer sponsored paid sick leave is not enough.</h2>
			<p>Tens of thousands will remain healthy and face dire economic uncertainty due to this crisis, and those affected may no longer have an employer to rely on for sick leave. Forcing additonal financial burden on already struggling small businesses is also not a solution. The government must step in to provide support.</p>
		</div>
		<div class='cell large-6 large-offset-6'>
			<h2>A moratorium on evictions is not enough.</h2>
			<p>People who can’t make rent due to this crisis can still be evicted once the moratorium ends. We need a systemic and long-term solution that does not force penalties on those who cannot make their rent and mortgage payments due to the COVID-19 crisis.</p>
		</div>
		<br>
		<div class='cell large-2'>
			<b><p>What we urgently need you to do:</p></b>
		</div>
		<div class='cell large-6 large-offset-4'>
			<p>If you agree with our positions, then you can help! Our representatives and legislators must understand the gravity of this unique moment, and this will only happen if we force them to. A loud and swift mobilization of voices is our only hope that they enact policy that rises to the occasion.</p>
			<p>You can use the above positions as a guide when you call your representatives, and you can copy and paste our positions in an email with the subject line “Rent’s Due”.</p>
			<p>The financial security for so many in Seattle is in the balance. Please act as soon as you can.</p>
			<p>Below is the contact information for many who represent the Seattle area.</p>
		</div>
	</div>
	<div class='grid-x'>
		<div class='cell' style='text-align:center'>
			<p style='font-size:20px'>Use <a href='/messaging_templates'>these scripts</a> if you need inspiration</p>
			<h1>Governor Jay Inslee</h1>
			<h3><a href="tel:360-902-4111">360-902-4111</a></h3>
			<h3><a href="https://www.governor.wa.gov/contact/contact/send-gov-inslee-e-message">https://www.governor.wa.gov/contact/contact/send-gov-inslee-e-message</a></h3>
			<h1>Sen. Patty Murray</h1>
			<h3><a href="tel:202-224-2621">202-224-2621</a></h3>
			<h3><a href="https://www.murray.senate.gov/public/index.cfm/contactme">https://www.murray.senate.gov/public/index.cfm/contactme</a></h3>
			<h1>Sen. Maria Cantwell</h1>
			<h3><a href="tel:202-224-3441">202-224-3441</a></h3>
			<h3><a href="https://www.cantwell.senate.gov/contact/email/form">https://www.cantwell.senate.gov/contact/email/form</a></h3>
			<h1>Pramila Jayapal (Washington 9th)</h1>
			<h3><a href="tel:202-225-3106">202-225-3106</a></h3>
			<h3><a href="https://jayapal.house.gov/contact/">https://jayapal.house.gov/contact/</a></h3>
			<h1>Adam Smith (Washington 7th)</h1>
			<h3><a href="tel:425-793-5180">425-793-5180</a></h3>
			<h3><a href="https://adamsmith.house.gov/email-me">https://adamsmith.house.gov/email-me</a></h3>
			<h1>Jenny Durkan</h1>
			<h3><a href="tel:206-684-4000">206-684-4000</a></h3>
			<h3><a href="mailto:jenny.durkan@seattle.gov">jenny.durkan@seattle.gov</a></h3>
			<h1>For state legislators please visit:</h1>
			<h3><a href="https://www.commoncause.org/find-your-representative/">https://www.commoncause.org/find-your-representative/</a></h3>
		</div>
	</div>
{% endblock %}
    
{% block js %}
    
{% endblock %}