{% extends "base.html" %}

    <title>
        Rent's Due
    </title>

{% block body %}
	<div class="grid-x">
		<div class="cell large-8 large-offset-4" style="font-size:48px">
			<p>COVID-19 is wreaking havoc on the service industry across the country. </p>

			<p>Both the healthy and sick are facing an immediate financial crisis.</p>
			
			<b><i><p>Rent’s due on the 1st.</p></b></i>
		</div>
		<br>
	</div>
	<div class='cell'>
		<div class='cell' style='text-align:center;font-size:24px'>
			Find your local representatives by entering your address below.
		</div>
		<form method="POST">
			<div class="input-group">
				<span class="input-group-label">Address</span>
				<input id='address' name='address' class="input-group-field" type="text" placeholder='112 Krog St NE, Atlanta, GA 30307'>
				<div class="input-group-button">
					<input type="submit" class="button" value="Submit">
				</div>
			</div>
		</form>
	</div>
	<div class='grid-x' style='font-size:20px'>
		<div class='cell large-2'>
			<b><p>What’s happening:</p></b>
		</div>
		<div class='cell large-6 large-offset-4'>
			<p>Governors and mayors across the country are taking the unprecedented but necessary step to close all restaurants, bars and all non-essential places people gather. Even before these official bans the COVID-19 crisis forced many restaurants and other service-based businesses to cut shifts, lay off staff, and close indefinitely. This new ban brings the income of workers in those industries to zero. Many expect to earn just 20% of their normal monthly wages in March. The health of our communities should remain our number one priority. However, this urgent health crisis should not stop us from facing this rapidly approaching financial crisis.</p>
		</div>
		<br>
		<div class='cell large-2'>
			<b><p>Our positions:</p></b>
		</div>
		<div class='cell large-6 large-offset-4'>
			<h2>Unemployment insurance is not enough.</h2>
			<p>By swift government mandates, hundreds of thousands of workers across the country no longer have any income, and nobody can predict when they can return to work. In non-crisis conditions, it can take over a month to receive benefits that are a fraction of workers’ normal take-home pay. With an influx of recently laid-off employees, these agencies will be overwhelmed. It’s clear that unemployment offices are neither designed nor equipped to address the urgent amount of financial relief needed. We need emergency economic assistance today.</p>
		</div>
		<div class='cell large-6 large-offset-6'>
			<h2>A moratorium on evictions is not enough.</h2>
			<p>Some cities have placed a moratorium on physical evictions during this crisis. However, once these moratoriums end, landlords can immediately begin the eviction process for any unpaid rent. These eviction moratoriums do nothing for homeowners with mortgages who are also affected by this crisis. We need a long-term solution that addresses the realities of those who cannot make their rent and mortgage payments due to economic impact of the COVID-19 crisis.</p>
		</div>
		<div class='cell large-6 large-offset-6'>
			<h2>Small business sponsored sick leave is not enough.</h2>
			<p>Employees should not have to choose between going to work sick or being able to pay bills. Small businesses that already struggling due to the COVID-19 outbreak shouldn’t have to endure additional financial burden during this trying time. Paid sick leave is necessary, especially now, but asking the businesses who are most economically vulnerable to foot the bill is not the solution. We need strong government intervention.</p>
		</div>
		<br>
		<div class='cell large-2'>
			<b><p>What we urgently need you to do:</p></b>
		</div>
		<div class='cell large-6 large-offset-4'>
			<p>If you agree with our positions, then you can help! Our representatives and legislators must understand the gravity of this unique moment, and this will only happen if we force them to. A loud and swift mobilization of voices is our only hope that they enact policy that rises to the occasion.</p>
			<p>You can use the above positions as a guide when you call your representatives, and you can copy and paste our positions in an email with the subject line “Rent’s Due”.</p>
			<p>The financial security for so many in Seattle is in the balance. Please act as soon as you can.</p>
		</div>
	</div>
{% endblock %}
    
{% block js %}
    
{% endblock %}