{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class='cell' style='text-align:center'>
	<p>Use the scripts below the table as a guide.</p>
	<div class="cell">
		{% if reps %}
			<table style='color:black'>
				<tr>
					<th>Image</th>
					<th>Name</th>
					<th>Office</th>
					<th>Phone Number</th>
					<th>Email</th>
					<th>URLs</th>
					<th>Social Media</th>
				</tr>
				{% for rep in reps %}
				<tr>
					<th>
						{% if rep.photoUrl %}
							<img height=100 width=100 src='{{ rep.photoUrl }}'></img>
						{% endif %}
					</th>
					<th>{{ rep.name }}</th>
					<th>{{ rep.office }}</th>
					<th>
						{% if rep.phones %}
							{% for phone in rep.phones %}
								<a href='tel:{{ phone }}'>{{ phone }}</a>
							{% endfor%}
						{% endif %}
					</th>
					<th>
						{% if rep.emails %}
							{% for email in rep.emails %}
								<a href='mailto:{{ email }}'>{{ email }}</a>
							{% endfor%}
						{% endif %}
					</th>
					<th>
						{% if rep.urls %}
							{% for url in rep.urls %}
								<a href='{{ url }}'>{{ url }}</a>
							{% endfor %}
						{% endif %}
					</th>
					<th>
						{% for channel in rep.channels %}
							{% if channel.type == 'Twitter' %}
								<a href='https://twitter.com/{{ channel.id }}'><img height=50 width=50 src="https://cdn2.iconfinder.com/data/icons/social-media-square-set/960/Twitter_Sq-512.png"></a>
							{% endif %}
						{% endfor %}
					</th>
				</tr>
				{% endfor %}
			</table>
		{% endif %}
	</div>
	<h1>Scripts</h1>
</div>
<div class='grid-x'>
	<div class='cell large-6'>
		<div class='cell' style='text-align:center'>
			<h2>Industry.</h2>
		</div>
		<div class='cell'>
			<p>Hello, my name is {Name} and I am a {Job Title} in {Your County}.</p>

			<p>Last night I was laid off of my job indefinitely due to the COVID-19 related mandated closures.</p>

			<p>The government does not have appropriate measures in place for this unprecedented workers’ crisis. I applied for partial unemployment a few days ago when my shifts were cut due to COVID-19. I still haven’t heard anything back, and my financial situation is now remarkably worse due to the full closure of my industry.</p>

			<p>My understanding from others who have applied for unemployment in the past is that the unemployment office during normal times can take up to a month to accept claims and provide benefits. The information on the unemployment websites are also often conflicting and confusing. I am sure that you’re aware how unprepared they are for this massive influx of laid-off workers. I am afraid that I won’t receive an appropriate amount of aid in the appropriate amount of time.</p>

			<p>I do not know how I will pay my rent on April 1st and need immediate help from your office. A moratorium on physical evictions is a good first step, but will only put a brief pause on the situation. I can still have an eviction on my record and may be physically evicted once the moratorium ends. This also does nothing for my home owning friends in similar situations with their mortgage.</p>

			<p>I am asking you to take care of your affected citizens by providing swift and appropriate financial relief.</p>
		</div>
	</div>
	<div class='cell large-6'>
		<div class='cell' style='text-align:center'>
			<h2>Allies.</h2>
		</div>
		<div class='cell'>
			<p>Hello, my name is {Name} and I am a resident of {Your County}.</p>

			<p>Last night many of my friends were laid off indefinitely due to the COVID-19 related mandated closures.</p>

			<p>The government does not have appropriate measures in place for this unprecedented workers’ crisis. My understanding from others who have applied for unemployment in the past is that the unemployment office during normal times can take up to a month to accept claims and provide benefits. The information on the unemployment websites are also often conflicting and confusing. I am sure that you’re aware how unprepared they are for this massive influx of laid-off workers. I am afraid that my friends won’t receive an appropriate amount of aid in the appropriate amount of time.</p>

			<p>Many do not know how they will pay their rent on April 1st and they need immediate help from your office. A moratorium on physical evictions is a good first step, but it will only put a brief pause on the situation. My friends may still have an eviction on their record and may be physically evicted once the moratorium ends. This also does nothing for my home owning friends in similar situations with their mortgage.</p>

			<p>I am asking you to take care of your affected citizens by providing swift and appropriate financial relief.</p>
		</div>
	</div>
</div>
{% endblock %}